<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <style>
        th,td{
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <h1>Student Form (Django Model Form)</h1>
    {% if emplo %}
    <h1>Show Data</h1>
    <h3>{{emplo}}}</h3>
    <table>
        <tr>
            <th>membership_no</th>
            <th>form_no</th>
            <th>form_date</th>
            <th>name</th>
            <th>guardian_name</th>
            <th>mothers_maiden_name</th>
            <th>dob</th>
            <th>phone</th>
            <th>email</th>
            <th>gender</th>
            <th>educational_qualification</th>
            <th>membership_fee</th>
            <th>share_count</th>
            <th>witness</th>
        </tr>
        {% for emp in emplo %} 
        <tr>
            <td><a href="{% url 'computer_edit' id=instance.id %}">{{instance.computer_name}}</id>
            <td>{{emp.membership_no}}</td>
            <td>{{emp.form_no}}</td>
            <td>{{emp.form_date}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.guardian_name}}</td>
            <td>{{emp.dob}}</td>
            <td>{{emp.phone}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.educational_qualification}}</td>
            <td>{{emp.membership_fee}}</td>
            <td>{{emp.share_count}}</td>
            <td>{{emp.introduced_by}}</td>
            <td>{{emp.witness}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>No Data</h1>
    {% endif %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    <form method="POST">  
        {% csrf_token %}  
        {{ form.as_p }}  
    <button type="submit" class="save btn btn-default">Save</button>  
    </form>  
</body>
</html>